
@font-face {
    font-family:KimGirl;
    src: url(../ttf/KimsGirlType.ttf);
}
@font-face {
    font-family:xiaoWanZi;
    src: url(../ttf/xiaoWanZiTi.ttf);
}

* { margin:0px; padding:0px;}
body {text-align:center;font-family:xiaoWanZi,Arial Narrow,arial,serif;font-size:20px; color:#000000;
    line-height:45px; position:relative;margin-top: 35px;
}
li {list-style-type:none;}
.zhengWen {margin-top: 0px; text-align: center}
li strong {font-size: 30px; text-align: left}

#content {background:url(../img/bg.jpg) no-repeat center top;background-size: 900px 460px; margin: 0 auto;
    height: 460px;width: 900px;
}
#code {height: 350px;width: 400px; text-align: left; float: left; margin-left: 200px; margin-top: 10px;}