
@font-face {
    font-family:manHua;
    src: url(../ttf/manHuaTi.ttf);
}
@font-face {
    font-family:xiaoWanZi;
    src: url(../ttf/xiaoWanZiTi.ttf);
}
@font-face {
    font-family:fontPacifico;
    src: url(../ttf/fontPacifico.ttf);
}
@font-face {
    font-family:FallingRain;
    src: url(../ttf/FallingRain.ttf);
}
@font-face {
    font-family:KimGirl;
    src: url(../ttf/KimsGirlType.ttf);
}

